{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans
"Cerrar sesión" %}{% endblock %} {% block content %}

<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}
</style>


<div class="container">
  <div class="row">

    <div class="col-md-6 mt-5 offset-3">
<h1>{% trans "Cerrar sesión" %}</h1>

<p>{% trans '¿Estás seguro de que quieras cerrar la sesión?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans 'Cerrar sesión' %}</button>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
</div>
</div>
{% endblock %}
