{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">

            <h6 class="mt-3"><a href="">SOBRE NOSOTROS</a></h6>
            
           
        </div>
        <div class="col-sm-4">
          <h6 class="mt-3">CONTACTANOS</h6>
            <div style="font-size: 14px; margin: 0.3rem;"><i class="fa fa-phone" aria-hidden="true"></i> +34 123 456 789 </div>
        </div>

        <div class="col-sm-4">
            <div class="topbar-social">
              <a href="#" class="topbar-social-item fab fa-facebook"></a>
              <a href="#" class="topbar-social-item fab fa-instagram"></a>
              <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
              <a href="#" class="topbar-social-item fab fa-twitter"></a>
              <a href="#" class="topbar-social-item fab fa-youtube"></a>
            </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="#" style="margin-left: 1rem">Privacy Policy</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

